[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
bcrypt = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "3.12"
