body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0d0d0d;
  color: #39ff14;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  border: 2px solid #39ff14;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px #39ff14;
}

input,
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #000;
  color: #39ff14;
  border: 1px solid #39ff14;
  border-radius: 5px;
}

button:hover {
  background-color: #39ff14;
  color: #000;
  cursor: pointer;
}

h1,
h2,
p {
  color: #39ff14;
}

.WorkCard {
  background-color: #111;
  border: 1px solid #39ff14;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 5px #39ff14;
  text-align: left;
}
